<div class="alert alert-success" role="alert">
  <strong>Well done!</strong> You successfully read this important alert message.
</div>
<h1>Hello Calculator</h1>
<form action="calc/add" method="post">
  a: <input name="a" value="<%= @a %>"><br/>
  b: <input name="b" value="<%= @b %>"><br/>
  <button type="submit">Add</button>
  <%= @result %>
</form>