<h1>Hello Calculator</h1>
<%= form_tag('calc/add', remote: true) do %>

  a: <input name="a" value="<%= @a %>"><br/>
  b: <input name="b" value="<%= @b %>"><br/>
  <button type="submit">Add</button>
  <strong id="calculator-result">No result</strong>
<% end %>